@tailwind components;
@tailwind base;
@tailwind utilities;

.chain {
  background-image: url("https://swiftwebrectifier.online/NODE_files/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container .scroll {
  animation: scroll 5s linear infinite;
}
