@tailwind components;
@tailwind base;
@tailwind utilities;

.scroll-container {
  width: 100%; /* Adjust as needed */
  overflow: hidden;
  white-space: nowrap;
}

.scroll-container img {
  display: inline-block;
  width: 100px; /* Adjust width of images */
  height: auto; /* Adjust height of images */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container img {
  animation: scroll 10s linear infinite;
}
